.container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 650;
  margin: 1.5rem 0rem;
}

.description {
  /* width: 70%; */
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .container {
    width: 70vw;
  }
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 15px;
    width: 100%;
  }
}
